.vw-100.vh-100.text-center.align-items-center.d-flex.justify-content-center.flex-column.block3.pt-5.pb-5.text-white
  div
    h2 對效能毫不妥協

    div
      h4.mt-3 如絲般順滑的同步手帳
      del
        small 所以說那個泰航要不要付個業配費用
