.text-center.d-flex.justify-content-center.flex-column.block1.text-white.pt-5.pb-5

  h3.mt-5 隆重推出

  img.mt-3.mb-5.logo(src="./images/MemoMD_Logo.png")

  h2.mb-5 重新定義即時書寫

  img.product-block(src="./images/memo3D.png")
