.vw-100.container-fluid.pt-5.pb-5.text-white.new-design
  .row.d-flex.justify-content-center
      h2 全新設計
  .row
    .col-sm-8
      canvas#satisfaction
    .col-sm-4.d-flex.align-items-center
      h3 滿意度高達 98% ！！


.vw-100.container-fluid.pt-5.pb-5
  .row.d-flex.justify-content-center
      h2 簡單上手
  .row
    .col-sm-8
      canvas#usability
    .col-sm-4.d-flex.align-items-center
      h3 易用性提升 50% ！！

.vw-100.container-fluid.pt-5.pb-5
  .row.d-flex.justify-content-center
      h2 效能躍進
  .row
    .col-sm-8
      canvas#perf
    .col-sm-4.d-flex.flex-column.justify-content-center
      h3 延遲小於 0.001 毫秒
      small 小到圖表上都看不到啦！

