.vw-100.container-fluid.pt-5.pb-5
  .row.d-flex.justify-content-center
      h2 Your grandma can use it
  .row
    .col-sm-8
      canvas#usability
    .col-sm-4.d-flex.align-items-center
      h3 Usability score 50% higher

.vw-100.container-fluid.pt-5.pb-5.text-white.new-design
  .row.d-flex.justify-content-center
      h2 Brand new design
  .row
    .col-sm-4.d-flex.align-items-center.justify-content-center
      h3 98% Satisfaction!
    .col-sm-8
      canvas#satisfaction

.vw-100.container-fluid.pt-5.pb-5
  .row.d-flex.justify-content-center
      h2 Performance breakthrough
  .row
    .col-sm-8
      canvas#perf
    .col-sm-4.d-flex.flex-column.justify-content-center
      h3 Less than 0.001ms latency
      small You can merely see that on chart!

