doctype html
html(lang='en')
  head
    meta(property="og:url",           content="https://memo.hackmd.io")
    meta(property="og:type",          content="website")
    meta(property="og:title",         content="隆重推出 MemoMD")
    meta(property="og:description",   content="重新定義即時書寫")
    meta(property="og:image",         content="https://i.imgur.com/ofZ3KOX.png")

    title 隆重推出 MemoMD

    include headers

  body
    #fb-root
    script(async, defer, crossorigin="anonymous", src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.2&appId=539634776444206&autoLogAppEvents=1")

    include nav
    include block1
    include demo
    include block2
    include block3
    include charts
    include block4
    include cta
    include footer

    include scripts
