.d-flex.justify-content-between.navbar.pl-3.pr-3
  a.d-inline-flex.align-items-center(href="https://hackmd.io")
    i.fa.fa-file-text(aria-hidden="true")
    .span.ml-1
      | HackMD

  div
    a(href="https://memo.hackmd.io")
      | 中
    | /
    a(href="https://memo.hackmd.io/en.html")
      | EN
